<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{template :: layout(~{::section})}">

<head>
	<meta charset="UTF-8" />
	<title>Spring Boot Thymeleaf Application - Bootstrap DataTable</title>
</head>

<body th:fragment="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 mt-5 mb-5">
				<table class="table table-striped table-hover">
					<caption></caption>
					<thead>
						<tr>
							<th scope="header"><a class="sorted" sd:pagination-sort="author">Username</a></th>
							<th scope="header"><a class="sorted" sd:pagination-sort="project">First name</a></th>
							<th scope="header">Last Name</th>
							<th scope="header"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="row : ${page}">
							<th scope="col" th:text="${row.author}">Username</th>
							<td th:text="${row.project}">Name</td>
							<td th:text="${row.issue}">Last Name</td>
							<td><a href="#">edit</a></td>
						</tr>
					</tbody>
				</table>

				<div class="row">
					<div class="row col-sm-12">
						<div th:if="${page.totalPages > 1}">
							<nav aria-label="Page navigation">
								<ul class="pagination">
									<li class="page-item">
										<a class="page-link" href="#" aria-label="Previous">
											<span aria-hidden="true">&laquo;</span>
										</a>
									</li>
									<li class="page-item"><a class="page-link" href="#">1</a></li>
									<li class="page-item"><a class="page-link" href="#">2</a></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item" th:each="i: ${#numbers.sequence(0,page.totalPages-1)}">
										<a class="page-link" th:href="@{${url}(page=${i})}" th:text="${i + 1}"></a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#" aria-label="Next">
											<span aria-hidden="true">&raquo;</span>
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>