<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout (content)">

<head>
	<meta charset="UTF-8" />
	<title>Spring Boot Thymeleaf Application - Bootstrap DataTable</title>

	<link th:rel="stylesheet" th:href="@{assets/datatable/datatables.css}" />
	<link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
	<link th:rel="stylesheet" th:href="@{styles.css}" />

</head>

<body>
	<div th:replace="~{header :: header}"></div>

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{assets/datatable/datatables.js}"></script>
	<script th:src="@{/webjars/react/umd/react.production.min.js}"></script>
	<script th:src="@{/webjars/react-dom/umd/react-dom.production.min.js}"></script>
	<script src="https://unpkg.com/vue@3"></script>

	<div th:replace="${content}"></div>
</body>

</html>